.tekshitam {
	font-family: verdana;
	font-size: 12;
	color: #0000FF;
	text-decoration: none;
}
.tekshitamkecil {
	font-family: verdana;
	font-size: 11;
	color: #0000FF;
	text-decoration: none;
}
.teksputihkecil {
	font-family: verdana;
	font-size: 11;
	color: #ffffff;
	text-decoration: none;
}
.judulputih {
	font-family: verdana;
	font-size: 11;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.teksmerah {
	font-family: Verdana;
	font-size: 11;
	color: #A50021;
	text-decoration: none;
}
.tekslink {
	font-family: Verdana;
	font-size: 12;
	color: #FF4500;
	text-decoration: underline;
}
.teksmerahkecil {
	font-family: Verdana;
	font-size: 11;
	color: #C92C08;
	text-decoration: underline;
}
.teksorange {
	font-family: Verdana;
	font-size: 11;
	color: #CC5000;
	font-weight: bold;
	text-decoration: none;
}
.teksbox {
	font-family: verdana;
	font-size: xx-small;
	color: #333333;
	border: 1px solid #3399FF;
}
.image {
	font-family: verdana;
	font-size: xx-small;
	color: #333333;
	border: 1px solid #888888;
}
.tekslinktengah {
	font-family: verdana;
	font-size: 11;
	text-decoration: none;
	cursor: hand;
	color: #0033FF;
}
.menu {
	font-family: arial;
	font-size: 11;
	text-decoration: none;
	cursor: hand;
	color: #666666;
}

.menusamping {
	font-family: verdana;
	font-size: 11;
	text-decoration: none;
	cursor: hand;
	color: #333333;
	font-weight: bold;
}
.tekslink {
	font-family: verdana;
	font-size: 11;
	text-decoration: underline;
	cursor: hand;
	color: #90002F;
}
.teksjudullink {
	font-family: arial;
	font-size: 14;
	text-decoration: underline;
	cursor: hand;
	color: #000000;
}
.teksjudullink1 {
	font-family: arial;
	font-size: 14;
	cursor: hand;
	color: #000099;
}
.tekslinkbold {
	font-family: verdana;
	font-size: 12;
	text-decoration: none;
	cursor: hand;
	color: #333333;
	font-weight: bold;
}

a:hover {
	color: #FF6600;
}
/*
a:visited {
	color: #666666;
	text-decoration: none;
}
*/
.teksjudul {
	font-family: verdana;
	font-size: 12;
	font-weight: bold;
	color: #000000;
}
.teksjudul_1 {
	font-family: verdana;
	font-size: 11;
	font-weight: bold;
	color: #392D32;
}
.teksjudul_ijo {
	font-family: verdana;
	font-size: 13;
	text-decoration: none;
	font-weight: bold;
	color: #53811E;
}
